/* ==========================================================================
   Custom
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$text-color: #454964 !default;
$muted-text-color: #8C8E9D !default;
$primary-color: #020B45 !default;
$border-color: /*mix(#fff, #393e46, 75%)*/ #E8E9F4 !default;
$footer-background-color: /*#CCD0F1*/ #E8E9F4 !default;
$link-color: /*#7B45F1 #6B29F0*/ #5819DF !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: $muted-text-color !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
