---
layout: archive
---

{{ content }}

<!--
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>
-->

<p>
{% for post in site.categories[page.title] %}
</p>
<br>
   <ul calss="category">
      {% if post.title != null %}
        <li>
          {% if post.link %}
              <a href="{{ post.link }}">
            {% else %}
              <a href="{{ site.baseurl }} {{ post.url }}">
            {% endif %}
                {{ post.title }}
              </a>
              <time style="font-size: 12px;">{{ post.date | date: "%Y-%m-%d" }}</time>
              <br>
              {% for tag in post.tags %}
              <a style="font-size: 13px; color: #020B45;"
                  id="categoryPostTag" class="tag" href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                <b>#{{ tag }}</b>
              </a>
              {% endfor %}
          </li>
        {% endif %}
    </ul>
  {% endfor %}
