---
layout: archive
---

{{ content }}

<div class="archive__subtitle">
  <h3>{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

  <div style="font-size: 14px;">🚀 포스팅을 먼저 읽어보시겠어요?</div>
  <div style="font-size: 14px;">🪐 포스팅은 회고 성격을 띄고 있어요.</div>
</div>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
